{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-bitwise": 0,
        "no-console": 0,
        "prefer-spread": 0,
        "no-param-reassign": 0,
        "prefer-destructuring": 0,
        "import/no-named-as-default-member": 0,
        "max-classes-per-file": ["error", 2]
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
